.git
.github
.idea
.vscode
.fleet

.env
.env.*
!.env.example

node_modules
vendor
public/build
public/hot
public/storage

storage/app/public/*
!storage/app/public/.gitignore
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
!storage/logs/.gitignore

bootstrap/cache/*.php

.phpunit.cache
.phpunit.result.cache
npm-debug.log
yarn-error.log
